*{
    margin: 0;
}
.main{
   display: flex;
   height: 100vh;
    background-color: green;

}
.nav{
    width: 28%;
    height: 100%;
    background-color: red;
}
.chat{
    flex: 1;
    background-color: blue;
}